<!DOCTYPE html>
<html lang="en">

<head>
    <title>Provider-Login</title>
    <meta property="og:title" content="Le-Vaccine" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">

    <link href="/css/show/style.css" rel="stylesheet" />
    <link href="/css/whichlogin/whichlogin.css" rel="stylesheet" />
    <link href="/css/whichlogin/provider.css" rel="stylesheet" />
</head>

<body>
    <div id="scroll-progress"></div>
    <div class="preload">
        <img class="screen" src="https://i.pinimg.com/originals/0c/37/93/0c3793b0eedf868951d660ab88b9063a.gif"
            alt="loading..">
    </div>
    <div id="butter">
        <div class="home-container">
            <%- include('../partial/log-res-nav') %>
                <br>
                <br>
                <div class="container height-set">
                    <br>
                    <br>
                    <br>
                    <div class="container">
                        <form class="form" action="/account/user/login" method="POST">
                            <div class="head">
                                <h1>Login</h1>
                                <p class="myFont">
                                    <%= err %>
                                        <span class="myFont" style="color: green">
                                            <%= err1 %>
                                        </span>
                                </p>
                            </div>
                            <div class="input-contain">
                                <input type="text" name="username" value="" id="username" autocomplete="off">
                                <label class="placeholder-text" for="username" id="placeholder-fname">
                                    <div class="text">Username</div>
                                </label>
                            </div>
                            <div class="input-contain">
                                <input type="password" name="password" value="" id="password" autocomplete="off">
                                <label class="placeholder-text" for="password" id="placeholder-fname">
                                    <div class="text">Password</div>
                                </label>
                            </div>
                            <div class="div">
                                <input type="submit" id="login" value="Login">
                            </div>
                            <div class="sub">
                                <p><a href="/account/provider/reset">Forgot Password?</a></p>
                                <p>
                                    <a href="/account/provider/signup">Sign up</a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
                <br>
                <div class="home-separator"></div>
                <span class="home-text81 myFont">© 2021 <a href="mailto:atharvdesai2002@gmail.com"
                        target="_blank">Otherwa</a>,
                    All Rights Reserved.</span>
                <br>
        </div>
    </div>
    <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="/js/butter/butter.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/provider.js"></script>
</body>

</html>