<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta property="og:title" content="Le-Vaccine" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">

    <link rel="stylesheet" href="/css/show/style.css" />
    <link href="/css/about/about.css" rel="stylesheet" />
</head>

<body>
    <div style="padding:0.1rem">
        <div class="home-container">

            <header data-role="Header" class="home-header1">
                <%- include('./partial/nav'); %>
            </header>

            <div class="contianer">
                <div class="con-header">
                    <h1>About Us</h1>
                </div>
            </div>


            <div class="home-separator"></div>
            <footer class="home-footer">
                <%- include('./partial/foot'); %>
            </footer>
            <br>
            <br>
            <span class="home-text81">© 2021 Otherwa, All Rights Reserved.</span>
        </div>
    </div>
    <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>