<!DOCTYPE html>
<html lang="en">

<head>
    <title>Le-Vaccine</title>
    <meta property="og:title" content="Le-Vaccine" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="/css/show/style.css" />
    <link href="/css/index/home.css" rel="stylesheet" />
</head>

<body>
    <div style="padding:0.1rem">
        <div class="home-container">

            <header data-role="Header" class="home-header1">
                <%- include('./partial/nav'); %>
            </header>


            <p>Blogs</p>



            <div class="home-separator"></div>
            <footer class="home-footer">
                <div class="home-container36">
                    <div class="home-links-container">
                        <div class="home-container37">
                            <div class="home-company-container">
                                <span class="home-text72">Company</span>
                                <span class="home-text73">About</span>
                                <span class="home-text74">Careers</span>
                                <span class="home-text75">Contact</span>
                                <span>Blog</span>
                            </div>
                        </div>
                        <div class="home-container38">
                            <div class="home-contact">
                                <span class="home-text77">Contact Us</span>
                                <span class="home-text78">levaccine</span>
                                <span>+91 8828388979</span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <br>
            <br>
            <span class="home-text81">© 2021 Otherwa, All Rights Reserved.</span>
        </div>
    </div>
    <script data-section-id="header" src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
</body>

</html>