<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <!-- navbar -->
<!-- <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a class="active" href="/blog">Blog</a></li>
        <li><a href="/services">Services</a></li>
        <li class="right"><a href="/account">Account</a></li>
    </ul>
    <!-- main context -->
<!-- <div class="container_header">
        <p>
            <%= title %>
        </p>
    </div> -->
<!-- <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body> -->

<!-- </html> --> --> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card-card {
            flex: 0 0 auto;
            width: 32%;
            display: flex;
            padding: 20px;
            max-width: 450px;
            min-height: 480px;
            align-items: center;
            border-radius: 36px;
            flex-direction: column;
            background-size: cover;
            justify-content: flex-end;
            background-image: url("/playground_assets/rectangle%2035-1500w.png");
        }

        .card-info {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: flex-start;
            padding-top: var(--dl-space-space-unit);
            padding-left: var(--dl-space-space-twounits);
            border-radius: 20px;
            padding-right: var(--dl-space-space-twounits);
            flex-direction: column;
            padding-bottom: var(--dl-space-space-unit);
            background-color: var(--dl-color-scheme-white);
        }

        .card-text {
            font-size: 20px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .card-text1 {
            line-height: 1.5;
        }

        .card-root-class-name {
            background-size: cover;
            background-image: url("/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
        }

        .card-root-class-name1 {
            background-size: cover;
            background-image: url("/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
        }


        .card-root-class-name4 {
            background-size: cover;
            background-image: url("/playground_assets/rectangle%2035%20%5B1%5D-200h.png");
        }

        .card-root-class-name5 {
            background-size: cover;
            background-image: url("/playground_assets/rectangle%2035%20%5B2%5D-200h.png");
        }

        @media(max-width: 767px) {
            .card-card {
                width: 100%;
            }

            .card-root-class-name {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .card-root-class-name1 {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .card-root-class-name2 {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .card-root-class-name3 {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .card-root-class-name4 {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .card-root-class-name5 {
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }
        }

        .home-container {
            width: 100%;
            display: flex;
            min-height: 100vh;
            align-items: center;
            flex-direction: column;
        }

        .home-logo {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        .home-image {
            width: 22px;
            object-fit: cover;
            margin-right: 14px;
        }

        .home-links {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .home-text01 {
            color: var(--dl-color-scheme-green80);
            margin-right: var(--dl-space-space-twounits);
        }

        .home-text02 {
            color: var(--dl-color-scheme-green80);
            margin-right: var(--dl-space-space-twounits);
        }

        .home-text03 {
            color: var(--dl-color-scheme-green80);
            margin-right: var(--dl-space-space-twounits);
        }

        .home-text04 {
            color: var(--dl-color-scheme-green80);
            margin-right: var(--dl-space-space-twounits);
        }

        .home-burger-menu {
            fill: #105749;
            width: 24px;
            height: 24px;
        }

        .home-max-width1 {
            align-items: center;
        }

        .home-content {
            flex: 0 0 auto;
            width: 45%;
            display: flex;
            align-items: flex-start;
            margin-right: var(--dl-space-space-twounits);
            margin-bottom: var(--dl-space-space-threeunits);
            flex-direction: column;
        }

        .home-subtitle {
            color: var(--dl-color-scheme-orange100);
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-title {
            color: var(--dl-color-scheme-white);
            font-size: 52px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-text06 {
            color: var(--dl-color-scheme-lightgreen);
        }

        .home-description {
            color: var(--dl-color-scheme-white);
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-threeunits);
        }

        .home-container01 {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        .home-image1 {
            position: relative;
            padding-bottom: var(--dl-space-space-eightunits);
        }

        .home-hero-image {
            flex: 1;
            max-width: 550px;
            object-fit: cover;
            border-radius: 48px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .home-graphic-top {
            top: 0px;
            right: -170px;
            width: 100%;
            height: 100%;
            position: absolute;
            max-width: 359px;
            max-height: 359px;
            object-fit: contain;
            object-position: center;
        }

        .home-image2 {
            right: -170px;
            bottom: 0px;
            position: absolute;
            object-fit: contain;
        }

        .home-max-width2 {
            align-items: stretch;
        }

        .home-hero-image1 {
            object-fit: contain;
            margin-left: -250px;
            border-radius: 48px;
        }

        .home-content1 {
            width: 50%;
            display: flex;
            margin-left: var(--dl-space-space-twounits);
            flex-direction: column;
            justify-content: center;
        }

        .home-text07 {
            color: var(--dl-color-scheme-green80);
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text08 {
            font-size: 42px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-text09 {
            font-family: Urbanist;
        }

        .home-text10 {
            color: var(--dl-color-scheme-orange100);
            font-family: Urbanist;
        }

        .home-text11 {
            font-family: Urbanist;
        }

        .home-text12 {
            font-family: Urbanist;
        }

        .home-text13 {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-threeunits);
        }

        .home-container02 {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        .home-section1 {
            background-color: rgba(255, 199, 139, 0.14);
        }

        .home-max-width3 {
            align-items: stretch;
        }

        .home-content2 {
            width: 50%;
            display: flex;
            margin-right: var(--dl-space-space-twounits);
            flex-direction: column;
            justify-content: center;
        }

        .home-text14 {
            color: var(--dl-color-scheme-green80);
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text15 {
            font-size: 42px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-text16 {
            color: var(--dl-color-scheme-orange100);
            font-family: Urbanist;
        }

        .home-text18 {
            font-family: Urbanist;
        }

        .home-text19 {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-threeunits);
        }

        .home-container03 {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        .home-hero-image2 {
            object-fit: contain;
            margin-right: -250px;
            border-radius: 48px;
        }

        .home-section2 {
            background-color: var(--dl-color-scheme-green100);
        }

        .home-max-width4 {
            align-items: stretch;
        }

        .home-image5 {
            width: 50%;
        }

        .home-hero-image3 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 48px;
        }

        .home-content3 {
            width: 40%;
            display: flex;
            margin-top: var(--dl-space-space-twounits);
            margin-bottom: var(--dl-space-space-twounits);
            flex-direction: column;
            justify-content: center;
        }

        .home-text20 {
            color: var(--dl-color-scheme-white);
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text21 {
            color: var(--dl-color-scheme-white);
            font-size: 42px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.35;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-step {
            display: flex;
            margin-bottom: var(--dl-space-space-twounits);
            flex-direction: row;
        }

        .home-number {
            flex: 0 0 auto;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            margin-right: var(--dl-space-space-twounits);
            border-radius: var(--dl-radius-radius-radius16);
            flex-direction: column;
            justify-content: center;
            background-color: var(--dl-color-scheme-orange100);
        }

        .home-text22 {
            font-size: 28px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
        }

        .home-container04 {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .home-title1 {
            color: var(--dl-color-scheme-white);
            font-size: 24px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text23 {
            color: var(--dl-color-scheme-white);
            line-height: 1.5;
        }

        .home-step1 {
            display: flex;
            margin-bottom: var(--dl-space-space-twounits);
            flex-direction: row;
        }

        .home-number1 {
            flex: 0 0 auto;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            margin-right: var(--dl-space-space-twounits);
            border-radius: var(--dl-radius-radius-radius16);
            flex-direction: column;
            justify-content: center;
            background-color: var(--dl-color-scheme-orange100);
        }

        .home-text24 {
            font-size: 28px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
        }

        .home-container05 {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .home-title2 {
            color: var(--dl-color-scheme-white);
            font-size: 24px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text25 {
            color: var(--dl-color-scheme-white);
            line-height: 1.5;
        }

        .home-step2 {
            display: flex;
            flex-direction: row;
        }

        .home-number2 {
            flex: 0 0 auto;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            margin-right: var(--dl-space-space-twounits);
            border-radius: var(--dl-radius-radius-radius16);
            flex-direction: column;
            justify-content: center;
            background-color: var(--dl-color-scheme-orange100);
        }

        .home-text26 {
            font-size: 28px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
        }

        .home-container06 {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .home-title3 {
            color: var(--dl-color-scheme-white);
            font-size: 24px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text27 {
            color: var(--dl-color-scheme-white);
            line-height: 1.5;
        }

        .home-max-width5 {
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .home-text28 {
            color: var(--dl-color-scheme-green80);
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text29 {
            font-size: 42px;
            font-style: normal;
            text-align: center;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: var(--dl-space-space-threeunits);
        }

        .home-cards-container {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
        }

        .home-section4 {
            padding-top: 0px;
        }

        .home-max-width6 {
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .home-f-a-q {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: var(--dl-space-space-eightunits);
            flex-direction: row;
            justify-content: space-between;
        }

        .home-questions {
            flex: 0 0 auto;
            width: 50%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .home-text32 {
            color: var(--dl-color-scheme-green80);
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text33 {
            font-size: 42px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-text34 {
            font-family: Urbanist;
        }

        .home-text36 {
            color: var(--dl-color-scheme-orange100);
            font-family: Urbanist;
        }

        .home-trigger {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-text37 {
            font-size: 20px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 600;
            line-height: 1.5;
        }

        .home-icon02 {
            width: 12px;
            height: 12px;
        }

        .home-text38 {
            margin-top: 8px;
        }

        .home-trigger1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-text39 {
            font-size: 20px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 600;
            line-height: 1.5;
        }

        .home-icon04 {
            width: 12px;
            height: 12px;
        }

        .home-text40 {
            margin-top: 8px;
        }

        .home-trigger2 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-text41 {
            font-size: 20px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 600;
            line-height: 1.5;
        }

        .home-icon06 {
            width: 12px;
            height: 12px;
        }

        .home-text42 {
            margin-top: 8px;
        }

        .home-trigger3 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .home-text43 {
            font-size: 20px;
            font-style: normal;
            font-family: Urbanist;
            font-weight: 600;
            line-height: 1.5;
        }

        .home-icon08 {
            width: 12px;
            height: 12px;
        }

        .home-text44 {
            margin-top: 8px;
        }

        .home-image6 {
            width: 50%;
            object-fit: cover;
            margin-right: -200px;
        }

        .home-banner {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            padding: var(--dl-space-space-fourunits);
            align-items: center;
            border-radius: 48px;
            flex-direction: column;
            background-size: cover;
            background-image: url("/playground_assets/group%2011-1200w.png");
        }

        .home-text45 {
            color: var(--dl-color-scheme-lightgreen);
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text46 {
            color: var(--dl-color-scheme-white);
            font-size: 42px;
            font-style: normal;
            text-align: center;
            font-family: Urbanist;
            font-weight: 700;
            line-height: 1.25;
            margin-bottom: var(--dl-space-space-halfunit);
        }

        .home-text52 {
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            margin-bottom: var(--dl-space-space-twounits);
        }

        .home-btns {
            flex: 0 0 auto;
            display: flex;
            align-items: stretch;
            flex-direction: row;
        }

        .home-button6 {
            font-size: 16px;
            padding-top: 12px;
            margin-right: var(--dl-space-space-unit);
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 12px;
        }

        .home-button7 {
            padding-top: 12px;
            margin-right: 0px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 12px;
        }

        .home-footer {
            width: 100%;
            display: flex;
            max-width: var(--dl-size-size-maxwidth);
            align-items: center;
            padding-top: var(--dl-space-space-twounits);
            padding-left: var(--dl-space-space-threeunits);
            padding-right: var(--dl-space-space-threeunits);
            flex-direction: row;
            padding-bottom: var(--dl-space-space-twounits);
            justify-content: space-between;
        }

        .home-links-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        .home-container07 {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
        }

        .home-text56 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text57 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text58 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text59 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text60 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text62 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text63 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text64 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text65 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text66 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text68 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text69 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text70 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text71 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text72 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text73 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text75 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text76 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text77 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text78 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text81 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text84 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text85 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text86 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text87 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text89 {
            font-weight: 700;
            margin-bottom: var(--dl-space-space-oneandhalfunits);
        }

        .home-text90 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text91 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text92 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text93 {
            margin-bottom: var(--dl-space-space-unit);
        }

        .home-text94 {
            margin-bottom: var(--dl-space-space-unit);
        }

        @media(max-width: 991px) {
            .home-content {
                width: 50%;
                margin-right: var(--dl-space-space-unit);
            }

            .home-image1 {
                padding-bottom: var(--dl-space-space-threeunits);
            }

            .home-hero-image {
                margin-bottom: 0px;
            }

            .home-max-width2 {
                flex-direction: column;
            }

            .home-image3 {
                padding-bottom: var(--dl-space-space-threeunits);
            }

            .home-hero-image1 {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 0px;
            }

            .home-content1 {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }

            .home-max-width3 {
                flex-direction: column;
            }

            .home-content2 {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: var(--dl-space-space-threeunits);
            }

            .home-image4 {
                padding-bottom: 0px;
            }

            .home-hero-image2 {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 0px;
            }

            .home-max-width4 {
                flex-direction: column;
            }

            .home-image5 {
                width: 100%;
                padding-bottom: var(--dl-space-space-threeunits);
            }

            .home-hero-image3 {
                width: 100%;
                margin-left: 0px;
                margin-bottom: 0px;
            }

            .home-content3 {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }

            .home-max-width5 {
                flex-direction: column;
            }

            .home-max-width6 {
                flex-direction: column;
            }

            .home-questions {
                width: 60%;
            }

            .home-image6 {
                margin-right: -100px;
            }

            .home-footer {
                flex-direction: column;
            }

            .home-links-container {
                width: auto;
                margin-top: var(--dl-space-space-twounits);
                flex-direction: row;
            }

            .home-container07 {
                flex-wrap: wrap;
                margin-right: 0px;
            }
        }

        @media(max-width: 767px) {
            .home-links {
                display: none;
            }

            .home-icon {
                fill: var(--dl-color-scheme-green100);
            }

            .home-max-width1 {
                flex-direction: column-reverse;
            }

            .home-content {
                width: 100%;
                margin-right: 0px;
            }

            .home-hero-image {
                margin-right: 0px;
            }

            .home-content1 {
                width: 100%;
                margin-right: 0px;
            }

            .home-content2 {
                width: 100%;
                margin-right: 0px;
            }

            .home-content3 {
                width: 100%;
                margin-right: 0px;
            }

            .home-cards-container {
                flex-wrap: wrap;
                justify-content: center;
            }

            .home-f-a-q {
                margin-bottom: var(--dl-space-space-twounits);
                flex-direction: column;
            }

            .home-questions {
                width: 100%;
                margin-bottom: var(--dl-space-space-oneandhalfunits);
            }

            .home-image6 {
                width: 100%;
                margin-right: 0px;
            }

            .home-banner {
                padding: var(--dl-space-space-twounits);
            }

            .home-footer {
                padding-left: var(--dl-space-space-twounits);
                padding-right: var(--dl-space-space-twounits);
            }

            .home-links-container {
                width: auto;
                margin-top: var(--dl-space-space-twounits);
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
            }

            .home-container07 {
                width: 100%;
                justify-content: space-between;
            }
        }

        @media(max-width: 479px) {
            .home-banner {
                padding-top: var(--dl-space-space-twounits);
                padding-left: var(--dl-space-space-unit);
                padding-right: var(--dl-space-space-unit);
                padding-bottom: var(--dl-space-space-twounits);
            }

            .home-footer {
                padding: var(--dl-space-space-unit);
            }

            .home-links-container {
                align-items: flex-start;
                flex-direction: column;
                justify-content: space-between;
            }

            .home-container07 {
                align-items: center;
                margin-right: 0px;
                justify-content: space-between;
            }
        }
    </style>
</head>

<body>
    <div>
        <link href="./home.css" rel="stylesheet" />
        <div class="home-container">
            <div class="navbar-container">
                <div class="max-width">
                    <div class="home-logo">
                        <img alt="image" src="/playground_assets/group%202.svg" class="home-image" />
                        <span>Le - Vaccine</span>
                    </div>
                    <div class="home-links">
                        <span class="home-text01 navbar-Link">How it works</span>
                        <span class="home-text02 navbar-Link">Features</span>
                        <span class="home-text03 navbar-Link">Blog</span>
                        <span class="home-text04 navbar-Link">Pricing</span>
                        <button class="button-secondary button">Log in</button>
                        <button class="button button-primary">Get started</button>
                    </div>
                    <div class="home-burger-menu navbar-burger-menu">
                        <svg viewBox="0 0 1024 1024" class="home-icon">
                            <path d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="hero-container section-container">
                <div class="home-max-width1 max-width">
                    <div class="home-content">
                        <span class="home-subtitle before-Heading">
                            up-start finance system
                        </span>
                        <h1 class="home-title">
                            <span>Unlock the next generation banking</span>
                            <span class="home-text06">experience</span>
                        </h1>
                        <span class="home-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit mollit. Exercitation
                            veniam consequat sunt nostrud amet.
                        </span>
                        <div class="home-container01">
                            <button class="button button-gradient">Get started</button>
                            <button class="button button-transparent">Log in</button>
                        </div>
                    </div>
                    <div class="home-image1">
                        <img alt="image" src="/playground_assets/hero-600w.png" class="home-hero-image" />
                        <img alt="image" src="/playground_assets/union-400w.png" class="home-graphic-top" />
                        <img alt="image" src="/playground_assets/group%2018-1200w.png" class="home-image2" />
                    </div>
                </div>
            </div>
            <div class="section-container">
                <div class="home-max-width2 max-width">
                    <div class="home-image3">
                        <img alt="image" src="/playground_assets/group%2020-1200w.png" class="home-hero-image1" />
                    </div>
                    <div class="home-content1">
                        <span class="home-text07 before-Heading">how it works</span>
                        <h1 class="home-text08">
                            <span class="home-text09">Pay and get paid</span>
                            <span class="home-text10">faster</span>
                            <span class="home-text11">than ever.</span>
                            <span class="home-text12"></span>
                        </h1>
                        <span class="home-text13">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit mollit. Exercitation
                            veniam consequat sunt nostrud amet.
                        </span>
                        <div class="home-container02">
                            <button class="button-secondary button bg-transparent">
                                Learn more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-section1 section-container">
                <div class="home-max-width3 max-width">
                    <div class="home-content2">
                        <span class="home-text14 before-Heading">save money</span>
                        <h1 class="home-text15">
                            <span class="home-text16">Earn cashback</span>
                            <br />
                            <span class="home-text18">from your favorite brands</span>
                        </h1>
                        <span class="home-text19">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit mollit. Exercitation
                            veniam consequat sunt nostrud amet.
                        </span>
                        <div class="home-container03">
                            <button class="button-secondary button bg-transparent">
                                See how
                            </button>
                        </div>
                    </div>
                    <div class="home-image4">
                        <img alt="image" src="/playground_assets/group%2021-1200w.png" class="home-hero-image2" />
                    </div>
                </div>
            </div>
            <div class="home-section2 section-container">
                <div class="home-max-width4 max-width">
                    <div class="home-image5">
                        <img alt="image"
                            src="/playground_assets/jc-gellidon-fnc3yctccoi-unsplash%2014%20%5B1%5D-1200w.png"
                            class="home-hero-image3" />
                    </div>
                    <div class="home-content3">
                        <span class="home-text20 before-Heading">get started</span>
                        <h1 class="home-text21">Open your account today</h1>
                        <div class="home-step">
                            <div class="home-number"><span class="home-text22">1</span></div>
                            <div class="home-container04">
                                <span class="home-title1">Download UpStart App</span>
                                <span class="home-text23">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                    amet sint. Velit officia consequat duis enim velit mollit.
                                </span>
                            </div>
                        </div>
                        <div class="home-step1">
                            <div class="home-number1"><span class="home-text24">2</span></div>
                            <div class="home-container05">
                                <span class="home-title2">Create your free account</span>
                                <span class="home-text25">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                    amet sint. Velit officia consequat duis enim velit mollit.
                                </span>
                            </div>
                        </div>
                        <div class="home-step2">
                            <div class="home-number2"><span class="home-text26">3</span></div>
                            <div class="home-container06">
                                <span class="home-title3">Link your existing credit cards</span>
                                <span class="home-text27">
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                    amet sint. Velit officia consequat duis enim velit mollit.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container">
                <div class="home-max-width5 max-width">
                    <span class="home-text28 before-Heading">get started</span>
                    <h1 class="home-text29">
                        <span>No matter what you do,</span>
                        <br />
                        <span>UpStart will save you money</span>
                    </h1>
                    <div class="home-cards-container">
                        <div class="card-card card-root-class-name2">
                            <div class="card-info">
                                <span class="card-text"><span>Business</span></span>
                                <span class="card-text1">
                                    <span>
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                        do.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="card-card card-root-class-name">
                            <div class="card-info">
                                <span class="card-text"><span>Personal</span></span>
                                <span class="card-text1">
                                    <span>
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                        do.
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="card-card card-root-class-name1">
                            <div class="card-info">
                                <span class="card-text"><span>Family</span></span>
                                <span class="card-text1">
                                    <span>
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor
                                        do.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-section4 section-container">
                <div class="home-max-width6 max-width">
                    <div class="home-f-a-q">
                        <div class="home-questions">
                            <span class="home-text32 before-Heading">faq</span>
                            <h1 class="home-text33">
                                <span class="home-text34">Frequently Asked</span>
                                <br />
                                <span class="home-text36">Questions</span>
                            </h1>
                            <div data-role="Accordion" class="question">
                                <div data-type="accordion-header" class="home-trigger">
                                    <span class="home-text37">Is this a Free or Paid service?</span>
                                    <svg viewBox="0 0 1024 1024" class="home-icon02">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="home-text38">
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                        amet sint. Velit officia consequat duis enim velit mollit.
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion" class="question">
                                <div data-type="accordion-header" class="home-trigger1">
                                    <span class="home-text39">
                                        Do you operate in United Stated?
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="home-icon04">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="home-text40">
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                        amet sint. Velit officia consequat duis enim velit mollit.
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion" class="question">
                                <div data-type="accordion-header" class="home-trigger2">
                                    <span class="home-text41">
                                        Is this a globally available bank?
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="home-icon06">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="home-text42">
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                        amet sint. Velit officia consequat duis enim velit mollit.
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion" class="question">
                                <div data-type="accordion-header" class="home-trigger3">
                                    <span class="home-text43">
                                        Do you have an iOS or Android app?
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="home-icon08">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="home-text44">
                                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                                        amet sint. Velit officia consequat duis enim velit mollit.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <img alt="image" src="/playground_assets/group%202-1200w.png" class="home-image6" />
                    </div>
                    <div class="home-banner">
                        <span class="home-text45 before-Heading">get started</span>
                        <h1 class="home-text46">
                            <span>Push your finances to</span>
                            <br />
                            <span></span>
                            <span></span>
                            <span>the next level.</span>
                        </h1>
                        <span class="home-text52">
                            <span>Amet minim mollit non deserunt ullamco est sit</span>
                            <br />
                            <span>aliqua dolor do amet sint.</span>
                        </span>
                        <div class="home-btns">
                            <button class="home-button6 button button-transparent">
                                See all plans
                            </button>
                            <button class="home-button7 button button-gradient">
                                Get started
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="home-footer">
                <div class="home-links-container">
                    <div class="home-container07">
                        <div class="footer-column">
                            <span class="home-text56">Product</span>
                            <span class="home-text57">How it works</span>
                            <span class="home-text58">Features</span>
                            <span class="home-text59">Pricing</span>
                            <span class="home-text60">Blog</span>
                            <span>FAQ</span>
                        </div>
                        <div class="footer-column">
                            <span class="home-text62">App</span>
                            <span class="home-text63">Download iOS app</span>
                            <span class="home-text64">Download Android app</span>
                            <span class="home-text65">Log in to Portal</span>
                            <span class="home-text66">Administrative</span>
                            <span>Legal</span>
                        </div>
                        <div class="footer-column">
                            <span class="home-text68">Company</span>
                            <span class="home-text69">About us</span>
                            <span class="home-text70">Culture</span>
                            <span class="home-text71">Code of conduct</span>
                            <span class="home-text72">Careers</span>
                            <span class="home-text73">News</span>
                            <span>Contact</span>
                        </div>
                        <div class="footer-column">
                            <span class="home-text75">Invest</span>
                            <span class="home-text76">Commodity</span>
                            <span class="home-text77">Savings</span>
                            <span class="home-text78">
                                <span>Taxes and fees</span>
                                <br />
                                <span></span>
                            </span>
                            <span class="home-text81"><span>Currency exchange</span></span>
                            <span>Community</span>
                        </div>
                        <div class="footer-column">
                            <span class="home-text84">Security</span>
                            <span class="home-text85">Security status</span>
                            <span class="home-text86">ISO</span>
                            <span class="home-text87">System status</span>
                            <span>Customer Help</span>
                        </div>
                        <div class="footer-column">
                            <span class="home-text89">Follow</span>
                            <span class="home-text90">Instagram</span>
                            <span class="home-text91">Twitter</span>
                            <span class="home-text92">Facebook</span>
                            <span class="home-text93">Tik Tok</span>
                            <span class="home-text94">Linkedln</span>
                            <span>Youtube</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>