<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff6600" />
    <link type="image/png" sizes="16x16" rel="icon" href="imgs\1611814068005.jpg" />
    <title>Hmmm</title>
    <style>
        :root {
            --tab: 4.9rem;
            --mob: 5rem;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: monospace;
            color: #FFFFFF;
            text-align: center;
        }

        body {
            background-color: #101010;
        }

        section {
            background-image: url(https://i.pinimg.com/originals/94/6e/06/946e065ebf6c68dbc30f7a162a04351d.gif);
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bornfield {
            width: 100%;
            height: auto;
            pointer-events: none !important;
        }

        .msg {
            position: relative;
            top: 10rem;
            font-size: 1.4rem;
            padding: 1.35rem;
        }

        /* tablet */

        @media screen and (max-width: 768px) {
            .msg {
                top: var(--tab);
            }
        }

        /* mobile */

        @media screen and (max-width: 468px) {
            .msg {
                top: var(--mob);
            }
        }
    </style>
</head>

<body>
    <section>
        <div class="msg">
            <p>Fellow Soldier Rest here, the path ahead is a dark one. or <a href="/">Return Home</a></p>
            <br>
            <p>404 File not Found</p>
        </div>
    </section>
</body>

</html>