<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ff6600" />
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font">
    <link rel="stylesheet" href="/css/show/style.css">
    <link href="/css/index/home.css" rel="stylesheet">
    <link type="image/png" sizes="16x16" rel="icon" href="imgs\1611814068005.jpg" />
    <title>Hmmm</title>
    <style>
        :root {
            --tab: 4.9rem;
            --mob: 5rem;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: monospace;
            color: #FFFFFF;
            text-align: center;
        }

        body {
            background-color: #101010;
        }

        section {
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bornfield {
            width: 100%;
            height: auto;
            pointer-events: none !important;
        }

        .msg {
            position: relative;
            top: 10rem;
            font-size: 1.4rem;
            padding: 1.35rem;
        }

        /* tablet */

        @media screen and (max-width: 768px) {
            .msg {
                top: var(--tab);
            }
        }

        /* mobile */

        @media screen and (max-width: 468px) {
            .msg {
                top: var(--mob);
            }
        }
    </style>
</head>

<body>
    <section id="section1">
        <div class="msg">
            <br>
            <p>
                No Such Route exisit
                <br>
                <br>
                <span id="text"></span>
            </p>
        </div>
    </section>
</body>
<script>

    var x = [
        'https://64.media.tumblr.com/249606e6ce9061aa021696c11a328a6b/tumblr_p4clpbr0YD1wdgt9zo1_640.gifv',
        'https://68.media.tumblr.com/d6d6bab2e0e87c92d5559dad572e505b/tumblr_p1g4ab1J9e1usyygio1_540.gif',
        'https://thumbs.gfycat.com/ComposedCommonIberianbarbel-size_restricted.gif',
        'https://i.pinimg.com/originals/cb/9d/d2/cb9dd263099adac75b965e94d15b06b4.gif',
        'https://media2.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif?cid=790b761173de0bf1fcbd8fb0a1783a6c5ce6c395a4540fd2&rid=giphy.gif'
    ]

    document.getElementById("section1").style.backgroundImage = "url(" + x[Math.floor(Math.random() * x.length)] + ")";
    var i = 5
    setInterval(() => {
        text = 'Redirecting in ' + i + ' Seconds ...';
        console.log(text);
        document.getElementById('text').innerHTML = text;
        i = i - 1;
    }, 1000)

    setTimeout("location.href = '/';", 4900);
</script>

</html>