<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <!-- navbar -->
    <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a class="active" href="/services">Services</a></li>
        <li class="right"><a href="/account">Account</a></li>
    </ul>
    <!-- main context -->
    <div class="container_header">
        <p>
            <%= title %>
        </p>
    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>