<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon"
        href="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/60/000000/external-vaccine-baby-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/createaccount.css">
    <title>Home</title>
</head>

<body>
    <!-- navbar -->
    <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/services">Services</a></li>
        <li class="right"><a class="active" href="/account">Account</a></li>
    </ul>
    <!-- main context -->
    <div class="container_header">
        <p>
            <%= title %>
        </p>
    </div>
    <div class="con">
        <p>
            <%= status %>
        </p>
        <form method="post" action="/account/user/createaccount">

            <input type="text" name="username" placeholder="Username" id="username" required><br>

            <input type="password" name="password" placeholder="Password" id="password" required><br>

            <input type="password" name="cpassword" placeholder="Verfiy Password" id="cpassword" required><br>

            <input type="text" name="name" placeholder="Name" id="name" required><br>

            <input type="text" name="age" placeholder="Age" id="age" required><br>

            <input type="radio" name="gender" value="Male" checked> Male <br>

            <input type="radio" name="gender" value="Female"> Female <br>

            <input type="text" name="address" placeholder="Address" id="address" required><br>

            <input type="email" name="mail" placeholder="Email" id="mail" required><br>

            <input type="number" name="phone" placeholder="Phone" id="phone" required><br>

            <input type="text" name="city" placeholder="City" id="city" required><br>

            <input type="text" name="region" placeholder="Region" id="region" required><br>

            <input type="text" name="pincode" placeholder="Pincode" id="pincode" required><br>

            <input type="text" name="state" placeholder="State" id="state" required><br>

            <input type="submit" value="submit"><br>
            <p>
                <%= msg %>
            </p>
        </form>
    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/createaccount.js"></script>
</body>

</html>