<div>
  <link href="./blog-post-card3.css" rel="stylesheet" />
  <div class="blog-post-card3-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvcmtpbmclMjBkZXNrfGVufDB8fHx8MTYyNjI1MDYwMg&ixlib=rb-1.2.1&h=1200"
      class="blog-post-card3-image"
    />
    <div class="blog-post-card3-container">
      <span class="blog-post-card3-text"><span>ENTERPRISE</span></span>
      <h1 class="blog-post-card3-text1">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
      <div class="blog-post-card3-container1">
        <span class="blog-post-card3-text2">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
            dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
            ...
          </span>
        </span>
        <span class="blog-post-card3-text3">Read More</span>
      </div>
      <span class="blog-post-card3-text4">
        <span>by Jon Doe 5 hours ago</span>
      </span>
    </div>
  </div>
</div>
