<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>City Name</span></span>
      <span class="place-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <div class="outline-button-container">
        <button class="outline-button-button button">
          <span>Discover place</span>
        </button>
      </div>
    </div>
  </div>
</div>
