:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
  --pblue: rgb(31, 132, 255);
  --ppink: rgb(255, 31, 161);
}

/* generated script */

.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.feature-card2-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}

.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }



  .feature-card2-container {
    flex-direction: column;
  }
}

@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.blog-post-card3-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: row;
  justify-content: center;
}

.blog-post-card3-image {
  width: 500px;
  object-fit: cover;
}

.blog-post-card3-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.blog-post-card3-text {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}

.blog-post-card3-text1 {
  margin-bottom: var(--dl-space-space-threeunits);
}

.blog-post-card3-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}

.blog-post-card3-text2 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}

.blog-post-card3-text3 {
  color: var(--dl-color-gray-black);
  font-weight: 500;
}

.blog-post-card3-text4 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}



@media(max-width: 991px) {
  .blog-post-card3-image {
    width: 50%;
  }
}

@media(max-width: 767px) {
  .blog-post-card3-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }

  .blog-post-card3-image {
    width: 100%;
  }

  .blog-post-card3-container {
    width: 100%;
  }

  .blog-post-card3-text {
    margin-bottom: var(--dl-space-space-unit);
  }

  .blog-post-card3-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }

  .blog-post-card3-container1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}

@media(max-width: 479px) {
  .blog-post-card3-text3 {
    width: auto;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden !important;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem !important;
}

.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-header1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-nav {
  display: flex;
}

.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}

.home-burger-menu {
  display: none;
}

.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.home-image {
  height: 2rem;
}

.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.home-image1 {
  height: 2rem;
}

.home-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-container03 {
  flex: 0 0 auto;
  width: 25.5rem;
  padding: 1rem;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.home-container04 {
  flex: 0 0 auto;
  width: 25rem;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;

}

.home-image2 {
  width: calc(100% - 4vw);
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.home-container05 {
  display: flex;
  padding: 1rem;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}

.home-text {
  font-size: 3rem;
}

.home-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}

.home-btn-group1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}

.home-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}

.home-button:hover {
  color: black;
  background-color: var(--ppink);
}

.home-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}

.home-button1:hover {
  color: white;
  background-color: var(--pblue);
}

.home-text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}

.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}

.home-container06 {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}

.home-text16 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}

.home-text18 {
  margin-right: var(--dl-space-space-threeunits);
}

.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.home-textinput {
  height: 2.3rem;
  width: 14rem;
  font-size: 0.85rem;
  border-color: var(--dl-color-gray-500);
  border-radius: var(--dl-radius-radius-radius4);
}

.home-button2 {
  height: 2.3rem;
  font-size: 0.85rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
}

.home-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}

.home-image3 {
  width: 30rem;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  flex-shrink: 0;
}

.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}

.home-text23 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}

.home-container08 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}

.home-gallery {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d" "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}

.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  border-radius: 0.5rem;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
}


.home-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text24 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-text25 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  border-radius: 0.5rem;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(228, 28, 178);
}

.home-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}



.home-text27 {
  color: var(--dl-color-gray-white);
  font-family: dot;
}

.home-text28 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  border-radius: 0.5rem;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(155, 28, 228);
}



.home-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.home-text30 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-text31 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  border-radius: 0.5rem;
  align-items: flex-start;
  background-color: rgb(228, 28, 28);
  ;

}



.home-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text33 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-text34 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  border-radius: 0.5rem;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(228, 181, 28);
}



.home-container18 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text36 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-text37 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  border-radius: 0.5rem;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(28, 201, 228);
}



.home-container20 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text39 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}

.home-text40 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
}



.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}

.home-text42 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-halfunit);
  font-family: dot;
  font-size: 1.4rem;
}

.home-text44 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}

.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.home-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}

.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container25 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}

.home-icon18 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}

.home-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container26 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.home-text47 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}

.home-text49 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}

.home-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}

.home-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container28 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}

.home-icon20 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}

.home-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container29 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.home-text52 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}

.home-text54 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}

.home-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}

.home-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container31 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}

.home-icon22 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}

.home-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container32 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.home-text57 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}

.home-text59 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}

.home-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}

.home-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container34 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}

.home-icon25 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}

.home-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.home-container35 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}

.home-text62 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}

.home-text64 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}

.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-container36 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.home-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}

.home-links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.home-container37 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}

.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}

.home-text67 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text68 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text69 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text70 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-text72 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text73 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text74 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text75 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-container38 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}

.home-text77 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-text78 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-text80 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.home-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-icon27 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}

.home-icon29 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}

.home-icon31 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}

.home-text81 {
  align-self: center;
}

@media(max-width: 891px) {
  .home-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }

  .home-image2 {
    order: 2;
  }

  .home-container05 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-text {
    text-align: center;
  }

  .home-text01 {
    text-align: center;
  }

  .home-text02 {
    text-align: left;
    padding-left: var(--dl-space-space-fourunits);
  }

  .home-banner {
    flex-direction: column;
  }

  .home-container06 {
    align-items: justify;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }

  .home-text18 {
    text-align: justify;
    margin-left: var(--dl-space-space-threeunits);
  }

  .home-container07 {
    justify-content: center;
  }

  .home-image3 {
    width: 20rem;
    height: var(--dl-size-size-xxlarge);
  }

  .home-gallery {
    grid-gap: var(--dl-space-space-unit);
  }

  .home-text24 {
    text-align: center;
  }

  .home-text25 {
    text-align: center;
  }

  .home-text27 {
    text-align: center;
  }

  .home-text28 {
    text-align: center;
  }

  .home-text30 {
    text-align: center;
  }

  .home-text31 {
    text-align: center;
  }

  .home-text33 {
    text-align: center;
  }

  .home-text34 {
    text-align: center;
  }

  .home-text36 {
    text-align: center;
  }

  .home-text37 {
    text-align: center;
  }

  .home-text39 {
    text-align: center;
  }

  .home-text40 {
    text-align: center;
  }

  .home-text42 {
    text-align: center;
  }

  .home-text44 {
    text-align: center;
  }

  .home-footer {
    flex-direction: column;
  }

  .home-container37 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}

@media(max-width: 867px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-nav {
    display: none;
  }

  .home-btn-group {
    display: none;
  }

  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-container04 {
    position: relative;
    align-self: flex-start;
    align-items: center;
    align-items: center;
  }

  .home-image2 {
    flex: 1;
    width: 59%;
    height: var(--dl-size-size-large);
    min-width: var(--dl-size-size-small);
    align-self: center;
  }

  .home-container05 {
    margin-top: var(--dl-space-space-twounits);
  }

  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-text18 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }

  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-container08 {
    grid-template-columns: 1fr;
  }

  .home-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }

  .home-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-container23 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }

  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .home-container24 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }

  .home-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-container26 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .home-text47 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-text49 {
    text-align: left;
  }

  .home-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .home-container27 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }

  .home-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-container29 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .home-text52 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-text54 {
    text-align: left;
  }

  .home-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .home-container30 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }

  .home-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-container32 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .home-text57 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-text59 {
    text-align: left;
  }

  .home-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .home-container33 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }

  .home-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }

  .home-container35 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .home-text62 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-text64 {
    text-align: left;
  }

  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-container36 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .home-logo {
    align-items: center;
  }

  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  .home-container37 {
    margin-right: var(--dl-space-space-fourunits);
  }

  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}

@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }

  .home-header1 {
    padding: var(--dl-space-space-unit);
  }

  .home-mobile-menu {
    padding: 16px;
  }

  .home-mobile-menu1 {
    padding: 16px;
  }

  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-container05 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-btn-group1 {
    flex-direction: column;
  }

  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }

  .home-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }

  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-container07 {
    align-items: center;
    flex-direction: column;
  }

  .home-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }

  .home-image3 {
    width: 19rem;
    height: var(--dl-size-size-xlarge);
  }

  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }

  .home-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-container23 {
    padding-left: 0px;
  }

  .home-container26 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-text47 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }

  .home-container29 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-text52 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }

  .home-container32 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-text57 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }

  .home-container35 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }

  .home-text62 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }

  .home-footer {
    padding: var(--dl-space-space-unit);
  }

  .home-container36 {
    align-items: center;
    flex-direction: column;
  }

  .home-links-container {
    align-items: stretch;
    flex-direction: column;
    display: flex;
  }

  .home-container37 {
    margin-right: 0px;
  }

  .home-container38 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-text81 {
    text-align: center;
  }
}

/* reset style sheet */
html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}

/* default style sheet */
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);

}

@font-face {
  font-family: dot;
  src: url(DOTMATRI.TTF);
}

.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links1-text1 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-text2 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-text3 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-navlink {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }

  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links1-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }

  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
}

.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ppink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 31, 161, 0.7);
}

/* selection  */
::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

img {
  pointer-events: none;
}

.und {
  text-decoration: underline;
}


.myFont {
  font-family: dot !important;
}

.register {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-style: solid;
  border-radius: 1.5rem;
  border-width: 0.01rem;
}

h2 .myFont {
  font-weight: 100;
}

.register:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-shadow: 0.5rem 0.5rem black !important;
  transition: 0.4s;
  translate: -0.25rem -0.252rem;
}

.curget {
  border-radius: 1.6rem;
  transition: 0.4s;
  width: 9.5rem;
  color: white;
  background-color: black;
  height: 3.5rem;
}

.curget:hover {
  box-shadow: 0.5rem 0.5rem black !important;
  transition: 0.4s;
  color: #000000;
  background-color: var(--ppink);
  translate: -0.25rem -0.252rem;
}


.cur {
  border-radius: 1.6rem;
  transition: 0.4s;
  width: 9.5rem;
  height: 3.5rem;
}

.cur:hover {
  box-shadow: 0.5rem 0.5rem black !important;
  transition: 0.4s;
  translate: -0.25rem -0.252rem;
}

.container-home {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

/* darkamode */
.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
}


.darkmode--activated img,
.darkmode--activated iframe {
  filter: invert(1) !important;
  /* mix-blend-mode: difference; */
  isolation: isolate;
}

#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 5px;
  background: var(--pblue);
  z-index: 100;
}


.preload {
  position: fixed;
  display: flex;
  height: 100vh;
  background-color: white;
  width: 99vw;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  z-index: 1000;
}

.preload .screen {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 768px) {

  /* preload */
  .preload .screen {
    width: 3rem !important;
    height: 3rem !important;
  }
}