/* own scripts */

/* hover underline */
.on-hover {
    transition: 0.3s;
}

.on-hover:hover {
    background-color: var(--dl-color-gray-);
    transition: 0.3s;
}

#error code {
    color: red;
}

#subscribed code {
    color: green;
}

.myFont {
    font-family: dot !important;
}

.register {
    padding: 0.5rem 1rem;
    border-style: solid;
    border-width: 0.01rem;
    border-radius: 1.5rem;
    transition: 0.3s;
}

h2 .myFont {
    font-weight: 100;
}

.register:hover {
    color: white;
    background-color: black;
}


/* split parrallex */


.cur {
    border-radius: 1.8rem;
    transition: 0.4s;
}

.cur:hover {
    box-shadow: 0.5rem 0.5rem black !important;
    transition: 0.4s;
    translate: -0.25rem -0.252rem;
}

.container {
    overflow: hidden;
    width: 100%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    border-radius: 0.5rem;
    width: 60vw;
    height: 69vh;
}

.education-pages {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (max-width: 581px) {
    .responsive-iframe {
        width: 77vw;
        height: 29vh;
    }

    .id {
        font-size: 0.55rem !important;
    }
}

.id {
    font-size: 0.9rem;
}