<div class="home-container36">
    <div class="home-links-container">
        <div class="home-container37">
            <div class="home-company-container">
                <span class="home-text72">Company</span>
                <span class="home-text73">About</span>
                <span class="home-text74">Careers</span>
                <span class="home-text75">Contact</span>
                <span>Blog</span>
            </div>
        </div>
        <div class="home-container38">
            <div class="home-contact">
                <span class="home-text77">Contact Us</span>
                <span class="home-text78">levaccine</span>
                <span>+91 8828388979</span>
            </div>
        </div>
    </div>
</div>