<div class="home-container36">
    <div class="home-links-container">
        <div class="home-container37">
            <div class="home-company-container">
                <span class="home-text72">Company</span>
                <span class="home-text75"><a href="/">Home</a></span>
                <span class="home-text73"><a href="/about">About</a></span>
                <span class="home-text74"><a href="/services">Careers</a></span>
                <span class="home-text75"><a href="/contact">Contact</a></span>
                <span class="home-text75"><a href="/blog">Blogs</a></span>
                <span class="home-text75 myFont"><a href="/api">Apis</a></span>
            </div>
        </div>
        <div class="home-container38">
            <div class="home-contact">
                <span class="home-text77"><a href="/contact">Contact Us</a></span>
                <span class="home-text78"><a href="mailto:atharvdesai2002@gmail.com">levaccine</a></span>
                <span>+91 8828388979</span>
            </div>
        </div>
    </div>
</div>