<header data-role="Header" class="home-header1">
    <div class="home-nav">
        <nav class="navigation-links1-nav navigation-links1-root-class-name10">
            <span class="navigation-links1-text myFont"><span><a href="/">Home</a></span></span>
    </div>
    <div class="home-btn-group">
        <button id="nav" class="home-login myFont"><a href="/account/user">User</a></button>
        <button id="nav" class="home-login myFont"><a href="/account/provider">Provider</a></button>
        <button id="nav" class="home-login myFont"><a href="/account/producer">Producer</a></button>
    </div>
    <div data-type="BurgerMenu" class="home-burger-menu">
        <svg viewBox="0 0 1024 1024" class="home-icon">
            <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
            </path>
        </svg>
    </div>
    <!-- mobile views -->

    <!-- tab views -->
    <div data-type="MobileMenu" class="home-mobile-menu">
        <div class="home-nav1">
            <div class="home-container01">
                <div data-type="CloseMobileMenu" class="home-menu-close">
                    <svg viewBox="0 0 1024 1024" class="home-icon02">
                        <path
                            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
                        </path>
                    </svg>
                </div>
            </div>
            <nav class="navigation-links1-nav navigation-links1-root-class-name11" style="padding: 1rem;">
                <span class="navigation-links1-text myFont"><span><a href="/">Home</a></span></span>
                <br>
                <span class="navigation-links1-text3 myFont"><span><a href="/account/user">User</a></span></span>
                <span class="navigation-links1-text3 myFont"><span><a
                            href="/account/provider">Provider</a></span></span>
                <span class="navigation-links1-text3 myFont"><span><a
                            href="/account/producer">Producer</a></span></span>

            </nav>
        </div>
    </div>
</header>