<h1><a href="/" class="navigation-links1-navlink on-hover">
        <span>
            <h>Le-Vaccine</h>
        </span>
    </a></h1>
<!-- navbar -->
<div class="home-nav">
    <nav class="navigation-links1-nav navigation-links1-root-class-name10">
        <span class="navigation-links1-text"><span><a href="/about">About</a></span></span>
        <span class="navigation-links1-text1">
            <span><a href="/education">Education</a></span>
        </span>
        <span class="navigation-links1-text2">
            <a href="/blog">Blogs</a>
        </span></span>
        <span class="navigation-links1-text3"><span><a href="/services">Services</a></span></span>
        <span class="navigation-links1-text3"><span><a href="/contact" class="on-hover">
                    Contact</a></span></span>
    </nav>
</div>
<div class="home-btn-group">
    <button id="nav" class="home-login button myFont"><a href="/account/login">Login</a></button>
    <button id="nav" class="myFont register cur"><a href="/account/resgister">Register</a></button>
</div>
<div data-type="BurgerMenu" class="home-burger-menu">
    <svg viewBox="0 0 1024 1024" class="home-icon">
        <path
            d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z">
        </path>
    </svg>
</div>
<!-- mobile views -->

<!-- tab views -->
<div data-type="MobileMenu" class="home-mobile-menu">
    <div class="home-nav1">
        <div class="home-container01">
            <div data-type="CloseMobileMenu" class="home-menu-close">
                <svg viewBox="0 0 1024 1024" class="home-icon02">
                    <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z">
                    </path>
                </svg>
            </div>
        </div>
        <nav class="navigation-links1-nav navigation-links1-root-class-name11" style="padding: 1rem;">
            <span class="navigation-links1-text"><span><a href="/about">About</a></span></span>
            <span class="navigation-links1-text1"><span><a href="/education">Education</a></span></span>
            <span class="navigation-links1-text2"><span><a href="/blog">Blogs</a></span></span>
            <span class="navigation-links1-text3"><span><a href="/services">Services</a></span></span>
            <span class="navigation-links1-text3"><span><a href="/contact">Contact</a></span></span>
            <br>
            <span class="navigation-links1-text3 myFont"><span><a href="/account/login">Login</a></span></span>
            <span class="navigation-links1-text3 myFont"><span><a href="/account/register">Register</a></span></span>

        </nav>
    </div>
</div>