<div class="sidebar">
    <a href="/account/producer/logout" class="myFont">Logout</a>
    <a href="/account/producer/dash" class="myFont">Home</a>
    <a href="/account/producer/dash/profile" class="myFont">Profile <span style="color:green">(Beta)</span></a>
</div>