<div class="sidebar">
    <a href="/account/producer/logout" class="myFont">Logout</a>
    <a href="/account/producer/dash" class="myFont">Home</a>
    <a href="/account/producer/dash/profile" class="myFont">Profile <span style="color:green">(Beta)</span></a>
    <a href="/account/producer/dash/authorize" class="myFont">Authorize <span style="color:green">(Beta)</span></a>
    <a href="/account/producer/dash/setstonk" class="myFont">Set Stonks <span style="color:green">(Beta)</span></a>
    <a href="/account/producer/dash/orders" class="myFont">Orders <span style="color:green">(Beta)</span></a>
    <a href="/api" class="myFont">API <span style="color:green">(Beta)</span></a>
</div>