<div class="sidebar">
    <a href="#" class="myFont">Home</a>
    <a href="#" class="myFont">Profile</a>
    <a href="#" class="myFont">Set Appointments</a>
    <a href="#" class="myFont">Buy Vaccines</a>
    <a href="#" class="myFont">Orders</a>
</div>