<div class="sidebar">
    <a href="/account/provider/logout" class="myFont">Logout</a>
    <a href="/account/provider/dash" class="myFont">Home</a>
    <a href="/account/provider/dash/profile" class="myFont">Profile <span style="color:green">(Beta)</span></a>
    <a href="/account/provider/dash/setappo" class="myFont">Set Appointments <span style="color:green">(Beta)</span></a>
    <a href="#" class="myFont">Buy Vaccines</a>
    <a href="#" class="myFont">Orders</a>
</div>