<div class="sidebar">
    <a href="/account/provider/logout" class="myFont">Logout</a>
    <a href="/account/provider/dash" class="myFont">Home</a>
    <a href="#" class="myFont">Profile</a>
    <a href="/account/provider/dash/setappo" class="myFont">Set Appointments</a>
    <a href="#" class="myFont">Buy Vaccines</a>
    <a href="#" class="myFont">Orders</a>
</div>