<div class="sidebar">
    <a href="/account/user/logout" class="myFont">Logout</a>
    <a href="/account/user/dash" class="myFont">Home</a>
    <a href="/account/user/dash/profile" class="myFont">Profile <span style="color:green">(Beta)</span></a>
    <a href="/account/user/dash/bookappo" class="myFont">Book Appointments <span style="color:green">(Beta)</span></a>
    <a href="#" class="myFont">Appointments</a>
</div>