/* own scripts */
/* sign up */
/* contains all user syling */
/* hover underline */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat+Alternates&display=swap');


.header1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 5.1rem;
    color: var(--ppink);
    position: relative;
    right: 29%;
    top: 3rem;
}

.on-hover {
    transition: 0.3s;
}

.on-hover:hover {
    background-color: var(--dl-color-gray-);
    transition: 0.3s;
}

#error code {
    color: red;
}

#subscribed code {
    color: green;
}

.myFont {
    font-family: dot !important;
}

.profilepic {
    position: relative;
    right: 11rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 20rem;
    align-content: center;
}

.profileupdate {
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

/* user dash */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* overriden */
.container-home {
    display: flex;
    margin-left: 15rem;
    padding: 1px 16px;
    height: auto;
    align-items: start;
    flex-direction: column;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.info p {
    font-size: 1.15rem;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    transition: 0.5s;
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}



/* graph */
#graph {
    width: 35rem;
}

@media screen and (max-width: 778px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }



    #map,
    .con {
        width: 100% !important;
    }

    .sidebar a {
        float: left;
    }

    .container-home {
        margin-left: 0;
    }

    #graph {
        width: 25rem;
    }

}

@media screen and (max-width: 1025px) {
    .profilepic {
        right: 0;
    }

    .profileupdate {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 578px) {

    .profilepic {
        right: 0;
    }

    .header1 {
        font-size: 3.1rem;
        right: 0%;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    #graph {
        width: 15rem;
    }

    .form {
        width: 18rem;
    }
}

#foot {
    max-width: 9rem;
    height: auto;
    display: inline-block;
    position: relative;
    top: 4rem;
}

/* login contet */
.height-set {
    height: 100vh !important;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#pass-msg,
#username-msg,
#email-msg {
    width: 96%;
    display: none;
    position: relative;
    color: red;
    font-family: 'dot';
    font-size: 1rem;
}

.input-contain {
    position: relative;
}

input {
    height: 3rem;
    width: 20rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1rem;
}

.placeholder-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.placeholder-text {
    pointer-events: none;
}

.text {
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background-color: transparent;
    color: black;
}

input,
.placeholder-text {
    padding: 0 1.2rem;
}

.placeholder-text .text {
    transition: 0.2s;
}

input:focus+.placeholder-text .text {
    outline: none;
    border-color: rgb(26, 135, 179);
    color: rgb(137, 137, 137);
    font-size: 0.85rem;
    transform: translate(0, -150%);
}

.placeholder-text .text {
    background-color: white;
    font-size: 0.9rem;
    color: black;
    transform: translate(0, -140%);
    border-color: rgb(26, 135, 179);
    color: rgb(0, 0, 0);
}

.head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 96%;
    align-items: center;
}

.head p {
    color: red;
}

.sub {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 96%;
}

.first_fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    width: auto;
    flex-wrap: wrap;
}

.gender {
    width: 10rem;
    border-width: medium;
    padding: 0.7rem;
    border-radius: 0.9rem;
}

#login,
#signup,
#reset,
#profileset {
    transition: 0.3s ease-in-out;
}

#profileset:hover,
#signup:hover {
    background-color: var(--pblue);
}

#login:hover,
#reset:hover {
    background-color: var(--ppink);
}

.sub a:hover {
    color: var(--pblue) !important;
}

@media screen and (max-width: 400px) {
    input {
        width: 17rem;
    }
}