/* own scripts */

/* hover underline */
.on-hover {
    transition: 0.3s;
}

.on-hover:hover {
    background-color: var(--dl-color-gray-);
    transition: 0.3s;
}

#error code {
    color: red;
}

#subscribed code {
    color: green;
}

.myFont {
    font-family: dot !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* user dash */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* overriden */
.container-home {
    display: flex;
    margin-left: 15rem;
    padding: 1px 16px;
    height: auto;
    align-items: start;
    flex-direction: column;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}



/* graph */
#graph {
    width: 35rem;
}

@media screen and (max-width: 778px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .container-home {
        margin-left: 0;
    }

    #graph {
        width: 25rem;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    #graph {
        width: 15rem;
    }
}