/* own scripts */
/* hover underline */
.on-hover {
  transition: 0.3s;
}

.on-hover:hover {
  background-color: var(--dl-color-gray-);
  transition: 0.3s;
}

#error code {
  color: red;
}

#subscribed code {
  color: green;
}

.myFont {
  font-family: dot !important;
}

.register {
  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 0.01rem;
  border-radius: 1.5rem;
  transition: 0.3s;
}

h2 .myFont {
  font-weight: 100;
}

.register:hover {
  color: white;
  background-color: black;
}

/* split parrallex */

.cur {
  border-radius: 1.8rem;
  transition: 0.4s;
}

.cur:hover {
  box-shadow: 0.5rem 0.5rem black !important;
  transition: 0.4s;
  translate: -0.25rem -0.252rem;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 2rem;
  /* background-color: rgb(252, 252, 252); */
  gap: 1rem;
  border-radius: 0.2rem;
  /* box-shadow:
        5.1px 4.8px 3.6px rgba(0, 0, 0, 0.014),
        14px 13.4px 10px rgba(0, 0, 0, 0.02),
        33.8px 32.3px 24.1px rgba(0, 0, 0, 0.026); */
  align-items: center;
  justify-content: space-around;
}

.main .img {
  border-radius: 0.5rem;
  width: 50%;
  height: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  height: 60vh;
  justify-content: center;
}

.height-set {
  height: 100% !important;
}

.side {
  display: flex;
  height: 30rem;
  width: 40vw;
  padding: 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.side .cite {
  padding: 1rem;
}

.side .img {
  height: 20rem;
  width: 35rem;
}

.card {
  display: flex;
  padding: 0.9rem;
  gap: 0.5rem;
  height: 4rem;
  background-color: #e1e1e1;
  border-radius: 5rem;
  flex-direction: row;
  align-items: center;
  width: 17rem;
  transition: 0.3s;
}

.card:hover {
  transition: 0.3s;
  background-color: #cfcfcf;
}

.darkmode--activated .card img,
.darkmode--activated .side,
.darkmode--activated iframe {
  filter: invert(0) !important;
}

.card img {
  height: 2.5rem;
  width: auto;
  padding: 0.2rem;
}

.responsive-iframe {
  border-radius: 0.5rem;
  width: 60vw;
  height: 69vh;
}

.education-pages {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 34rem;
    padding: 1rem;
    width: 26rem;
  }

  .side {
    width: 100%;
  }

  .side .cite {
    padding: 1rem;
  }
}

@media (max-width: 781px) {
  .main .img {
    width: 17rem;
    height: auto;
  }

  .side .img {
    display: none;
  }

  .responsive-iframe {
    width: 77vw;
    height: 29vh;
  }

  .card {
    width: 13rem;
  }
}
