/* own scripts */

/* hover underline */
.on-hover {
  transition: 0.3s;
}

.on-hover:hover {
  background-color: var(--dl-color-gray-);
  transition: 0.3s;
}

#error code {
  color: red;
}

#subscribed code {
  color: green;
}

.home-steps {
  padding: 1.4rem;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* darkamode */
.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
}

.darkmode--activated img {
  filter: invert(1);
  mix-blend-mode: difference;
  isolation: isolate;
}

#map {
  border-radius: 0.5rem;
}

.con {
  width: 60vw;
}