/* own scripts */

/* hover underline */
.on-hover {
  transition: 0.3s;
}

.on-hover:hover {
  background-color: var(--dl-color-gray-);
  transition: 0.3s;
}

#error code {
  color: red;
}

#subscribed code {
  color: green;
}